{% extends "_layout" %}
{% set title = "Rooms" %}

{% block content %}
<div class="uk-section">
		<div class="uk-container">
			<div class="uk-child-width-1-2@s uk-card uk-card-default uk-padding uk-animation-slide-bottom" uk-grid>
				<div>
					<h3 class="uk-margin-small-bottom">President Nelson Special Experience</h3>
					<p class="uk-margin-remove-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>
						<a class="uk-button uk-button-primary" href="#president_nelson_modal" title="Schedule Your Visit" uk-toggle>Schedule Your Visit</a>
					</p>
				</div>
				<div>
					<img src="/images/rooms/discovery_room.jpg">
				</div>
			</div>
		</div>
	</div>
{% endblock %}