{% extends "_layout" %}
{% set title = "Training" %}

{% block content %}
<section id="video_wrapper" class="uk-section uk-width-1-1 uk-background-secondary uk-position-fixed uk-invisible">
	<div class="uk-container">
		<div class="uk-flex uk-flex-center">
			{% for block in entry.tutorialContent.type('').all() %}
                {% if block.type == 'tutorialMedia' %}
                	{% if block.tutorialMediaAsset[0].mimeType == 'video/mp4' %}
                    	<video class="video uk-animation-fade uk-hidden" width="1000" height="600" controls>
            				<source src="/assets/tutorial/{{ block.tutorialMediaAsset[0].title|replace({' ': '_'}) }}.mp4" type="video/mp4">
                        </video>
                    {% endif %}
                {% endif %}
            {% endfor %}
		</div>
	</div>
</section>
<div id="tutorial" class="uk-grid-collapse uk-margin-medium-top uk-margin-medium-bottom" uk-grid>
    <aside id="table_of_contents_wrapper" class="uk-width-medium uk-background-muted">
        <div class="uk-padding-small" uk-sticky>
            <ul class="uk-nav uk-nav-default" uk-scrollspy-nav="closest: li; scroll: true">
                <li class="uk-nav-header">Table of Contents</li>
                <li class="uk-nav-divider"></li>
                <li><a href="#intro">Introduction</a></li>
                {% for block in entry.tutorialContent.type('tutorialHeading').all() %}
                <li><a href="#{{ block.tutorialTitle|lower|replace({' ': '_'}) }}">{{ block.tutorialTitle }}</a></li>
				{% endfor %}
            </ul>
        </div>
    </aside>
    <div class="uk-width-expand">
        <div class="uk-container">
            <article class="uk-article">
                <h1 id="intro" class="uk-article-title">{{ entry.title }}</h1>
                <p class="uk-article-meta">Written on {{ entry.postDate|date("M d, Y") }}</p>
                {% if entry.tutorialIntro %}
                <p class="uk-text-lead">{{ entry.tutorialIntro }}</p>
                {% endif %}
                {% for block in entry.tutorialContent.type('').all() %}
                    {% switch block.type %}
                        {% case "tutorialHeading" %}
                            <h3 id="{{ block.tutorialTitle|lower|replace({' ': '_'}) }}">{{ block.tutorialTitle }}</h3>      
                        {% case "tutorialText" %}   
                    		{{ block.tutorialTextCopy }}
                        {% case "tutorialMedia" %}
                        	
                        	{% switch block.tutorialMediaAsset[0].mimeType %}
                            	{% case "video/mp4" %}
                                	<button class="uk-button uk-button-primary video-button">Watch Video <span uk-icon="icon: chevron-right"></button>
                        		{% default %}
                            {% endswitch %}
                        {% default %}
                        
                    {% endswitch %}
                {% endfor %}
            </article>
        </div>
    </div>
</div>

<script>
	function displayVideo(event){
		let videoButtons = document.querySelectorAll('.video-button');
		let idx = 0;
		
		for(idx in videoButtons){
			if(event.target === videoButtons[idx]){
				idx = idx;
				break;
			}
		}

		let videoWrapper = document.getElementById('video_wrapper');
		let videos = document.querySelectorAll('.video');
		
		videos.forEach(function(elem){
			elem.classList.add('uk-hidden');
		});
		
		videos[idx].classList.remove('uk-hidden');
	}
	
	window.onload = function(){
		document.getElementById('site_header').classList.add('uk-position-fixed','uk-width-1-1');
		document.getElementById('site_header').style.top = 0;
		document.getElementById('site_header').style.left = 0;
		document.getElementById('site_header').style.zIndex = 982;
		document.querySelector('.video').classList.remove('uk-hidden');
		document.getElementById('video_wrapper').classList.remove('uk-invisible');
		document.getElementById('tutorial').classList.remove('uk-margin-medium-top');
		document.getElementById('tutorial').style.marginTop = document.getElementById('video_wrapper').clientHeight + 110 + 'px';
		
		let videoButtons = document.querySelectorAll('.video-button');
		videoButtons.forEach(function(button){
			button.onclick = displayVideo;
		});
	}
</script>
{% endblock %}